.contents
  .top-box
    .top-box__contents
      .top-text
        あなたにぴったりの講師を見つけましょう
  .middle-box
    .middle-box__name
      - if user_signed_in?
        ようこそ
        = current_user.name
        さん
    .middle-box__text
      講師を選ぶ
    .middle-box__field
      .teacher-box
        = link_to '#', class: "box-link" do 
          .box-link___image
            = image_tag 'material/top-page-image.jpg', size: '220x150', class: "teacher-image" 
          .box-link__info
            .box-link__info__name
              佐藤先生
            .box-link__info__subject
              国語 算数 理科 社会
            .box-link__info__explain
              小学校の先生を長年やってきました。
              興味がある方は気軽に話しかけてください。
    .middle-box__field
      .teacher-box
        = link_to '#', class: "box-link" do 
          .box-link___image
            = image_tag 'material/top-page-image.jpg', size: '220x150', class: "teacher-image" 
          .box-link__info
            .box-link__info__name
              佐藤先生
            .box-link__info__subject
              国語 算数 理科 社会
            .box-link__info__explain
              小学校の先生を長年やってきました。
              興味がある方は気軽に話しかけてください。
        
